<h1>This is the secret page.</h1>

<p>
	You found me!
</p>

<img src="https://pixabay.com/get/55e4d1474853ae14f1dc84609620367d1c3ed9e04e507440752b78d69749c5_340.jpg">

<li><a href="/register">Sign up!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>