<%- include("partials/header") %>
<link rel="stylesheet" href="/app.css">

<h1>This is the home page!</h1>	

<img src = "https://cdn.getyourguide.com/img/tour_img-2212927-148.jpg">

<%- include("partials/footer") %>